<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>{{title}}</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
</head>
<body ontouchstart="">
<div class="yo-flex" id="app" v-cloak>
    <header class="yo-header sz-header" v-once>
        <h2 class="title">{{title}}</h2>
        <a href="javascript:history.back();" class="regret yo-ico" id="sGoBack"></a>
    </header>
    <div class="flex">
        Welcome to {{title}}
        <!--vue-ssr-outlet-->
    </div>
</div>
</body>
</html>